<div class="margin-10">
    <nav class="navbar navbar-default nav-color">
        <div class="container-fluid">           
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="weather">Weather</a>
            </div>
            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">                    
                    <li><a ui-sref="weather">{{'Home' | translate}}</a></li>
                    <li><a ui-sref="about">{{'About' | translate}}</a></li>
                    <li><a ui-sref="contact">{{'Contact' | translate}}</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <div class="margin-top-8">
                        <language-button></language-button>
                    </div>
                </ul>
            </div>           
        </div>        
    </nav>
</div>