<div class="margin-top-10">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form>
          <div class="form-group">
            <div class="row">
              <div class="col-md-9">
                <label for="exampleFormControlSelect1">City</label>
                <select class="form-control" ng-model="vm.city" id="exampleFormControlSelect1">
                  <option>Blumanu</option>
                  <option>Timbó</option>
                  <option>Indaial</option>
                  <option>Ascurra</option>              
                </select>
              </div>
              <div class="col-md-3">
                <button ng-click="vm.search(vm.city)" class="btn btn-primary margin-top-30">Search</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div ng-repeat="item in vm.model.list">
            <div class="col-md-12">
              <div class="card margin-top-20" style="width: 220px;">
                <div class="card-header">
                  <img ng-src="{{vm.getImage(item.weather[0].icon)}}">
                  <span>{{item.weather[0].description}}</span>
                </div>
                <div class="card-block">
                  <h4 class="card-title">Temp: {{item.main.temp}}°</h4>
                  <p class="card-text">Max: {{item.main.temp_min}}°</p>
                  <p class="card-text">Min: {{item.main.temp_max}}°</p>
                  <p class="card-text">Icon: {{item.weather[0].icon}}</p>
                  <p class="card-text">{{item.dt_txt}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>